{% extends "base.html" %}
{% block content %}

<!-- CSS Styling -->
<style media="screen">
  /* Modi Image Top */
  .ebsb-modi-image{
    padding:2% 0;
  margin-top:100px;
  border-radius: 30px;


  }

/* Body Quick Links Matter */
  .quick-links{
    padding:1rem;
    text-align:center;
    border:0.2rem;
    border-style:solid;
    border-color: #bad7df;
    margin:5rem 0 5rem 2rem;
    line-height:2.5;
    font-weight:600;
    font-size:1.7rem;
  }

h4{
  font-size:2rem;
}
.ebsb-matter-about{
  font-size:2rem;
  padding:0 6.5rem;
  margin-bottom:7rem;
}
.ebsb-matter-objectives{
  font-size:2rem;
  padding:4.3rem 10rem;
  margin-top:-3rem;
}
.ebsb-matter-keythemes{
  font-size:2rem;
  padding:4.3rem 10rem;
  margin-top:-3rem;
}

</style>


<!-- HTML Code -->
<!-- Modi Image Top -->
    <div class="page-wrapper">
    <img src="static/images/banner1.jpeg" alt="EBSB" class="responsive ebsb-modi-image" alt id="modi" width="1100" height="auto" >

<!-- Body Quick Links Matter -->
<div class="row">
<div class="col-lg-3">
<div class="sidebar">
<div class="quick-links">

<h4 style="color:#364f6b"><strong>QUICK LINKS</strong></h4>
<ul>
  <li><a href="#AboutEBSB">About EBSB</a></li>
  <li><a href="#Objectives">Objectives</a></li>
  <li><a href="#Keythemes">Key Themes</a></li>
</ul>
</div>
</div>
</div>


<div class="ebsb-matter-about col-lg-9">
<h1 id="AboutEBSB"style="text-align:center"><strong>About EBSB</strong></h1>
<hr style="border:2px solid coral; width: 12%; margin:20px auto;">
<div class="ebsb-about">
  Ek Bharat Shreshtha Bharat (EBSB) program was launched by the Honorable Prime Minister Shri Narendra Modi on 31st October, 2016 during the Rashtriya Ekta Divas to promote engagement amongst the people of states and union territories in the country in order to enhance mutual understanding and bonding between people of diverse cultures, thereby securing stronger unity and integrity of India. The program envisions to portray the unity amongst cultural diversity of the paired states and union territories, as per the guidelines of Ministry of Human Resources and Development.

Our country has diverse cultures and rich cultural heritage in each of them. The cultural exchange programs will help us admire and appreciate our cultures mutually and thus, build a sense of togetherness and bonding.  If a finger is cut, its not the finger alone that feels the pain, its the whole body that feels it. National integration, irrespective of the regions that we hail from, is of vital importance, since the key to our progress is hidden in our unity amidst our diversity. The series of events that our institute plans to conduct under ‘Ek Bharat Shreshtha Bharat’ programme will strengthen our unity and help us all build a stronger and better India.

Paired Institute : IIT Gandhinagar (Gujarat with Chhattisgarh)
</div>
</div>
<h1 id="Objectives"style="text-align:center"><strong>Objectives of EBSB</strong></h1>
<hr style="border:2px solid coral; width: 12%; margin:20px auto;">
<div class="ebsb-matter-objectives">
 The broad objectives of the initiative are as follows:
<ui>
  
<li> To <strong><span style="color:#364f6b">CELEBRATE</span></strong> the Unity in Diversity of our Nation and to maintain and strengthen the fabric of traditionally existing emotional bonds between the 
 &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;people of our Country.</li>
 <li>To <strong><span style="color:#364f6b">PROMOTE</span></strong> the spirit of national integration through a deep and structured engagement between all Indian States and Union Territories through a  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;year-long planned engagement between States.</li>
 <li>To <strong><span style="color:#364f6b">SHOWCASE</span></strong> the rich heritage and culture, customs and traditions of either State for enabling people to understand and appreciate the diversity  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;that is India, thus fostering a sense of common identity.</li>
 <li>To <strong><span style="color:#364f6b">ESTABLISH</span></strong> long-term engagements and</li>
 <li>To <strong><span style="color:#364f6b">CREATE</span></strong> an environment which promotes learning between States by sharing best practices and experiences.</li>
 </ui>
</div>

<h1 id="Keythemes"style="text-align:center"><strong>Key Themes</strong></h1>
<hr style="border:2px solid coral; width: 12%; margin:20px auto;">
<div class="ebsb-matter-keythemes">
  <ui>
<li>To celebrate the idea of India as a nation wherein different cultural units across varied geographies coalesce and interact with each other, this  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;glorious manifestation of diverse cuisine, music, dance, theatre, movies & films, handicrafts, sports, literature, festivals, painting, sculpture etc. will  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;enable people to imbibe the innate chord of binding and brotherhood.</li>
<li>To make our people aware about the seamless integral hull of the Modern Indian State spread across a vast landmass on whose firm foundations,  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the geo-political strength of the country is ensured to benefit one and all.</li>
<li>To impress upon people at large about the increasing inter-connectedness between the constituents of various cultures and traditions, which is so  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;vital for the spirit of nation building.</li>
<li>To induce a sense of responsibility & ownership for the nation as a whole through these close cross-cultural interactions as it intends to build up the  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;inter-dependence matrix unequivocally.</li>
</ui>
</div>


  </div>
</div>
{% endblock %}
