{% extends "base.html" %}
{% block content %}

<style media="screen">
  .events-modi-image{
    margin-bottom:20px;
  }
.events-heading{
  text-align:center;
  color:black;
  font-size:4rem;
  margin:20px auto;
}
.events-ebsbday{
  text-align:center;
  color:black;
  margin:50px auto 30px;
}
.ebsb-day-row-images{
  margin:2rem;
  }

.ebsb-day-images{
  border:0.2rem;
  border-style:solid;
  border-color:#364f6b;
  width:100%;
}

.matter-ebsb-day{
  font-size:2.5rem;
  padding:4.3rem 8rem;
  margin-top:-2rem;
  margin-bottom:2rem;
}
.video-ebsb{
  text-align:center;
  color:black;
  margin:50px auto 30px;
}
.matter-video{
  font-size:2.5rem;
  padding:4.3rem 8rem;
  margin-top:-2rem;
  margin-bottom:2rem;
}
.my_class_name {
  margin: 0 auto;
  border: 10px outset #ddd;
}
.aaj-video{
  margin:0 auto 3%;
  display: block;
 width: auto;
}
.nenu1{
  text-align: center;
  font-size: 2rem;
}
.my_class_name{
margin-left: 50vw;
transform: translate(-50%);
}
</style>

  <div class="page-wrapper">
    <img src="static/images/bhi.jpg" alt="Nature" class="responsive ebsb-modi-image events-modi-image" alt id="modi" width="1590" height="auto">

<div class="events-ebsb">

<h1 class="events-heading h1"><strong>EBSB Events in IIT Bhilai</strong></h1>
<h2 class="events-ebsbday">EBSB DAY</h2>

</div>
<div class="row ebsb-day-row-images">
  <div class="col-lg-4">
    <img src="static/images/hi1.jpeg" alt="ebsb-day" class="ebsb-day-images">
  </div>
  <div class="col-lg-4">
    <img src="static/images/hi2.jpeg" alt="ebsb-day" class="ebsb-day-images">
  </div>
  <div class="col-lg-4">
    <img src="static/images/hi3.jpeg" alt="ebsb-day" class="ebsb-day-images">
  </div>
</div>
<div class="matter-ebsb-day">

Under the “Ek Bharat Shreshtha Bharat” (EBSB) club of IIT Bhilai, students celebrated EBSB day on 24th October 2020. 
The celebration started with the introduction of EBSB club and its prominence in IIT Bhilai followed by discussing the objectives of the club, culture of Chhattisgarh and introducing the core members of the club. Suggestions from student were warmly welcomed by all the team.

</div>
<hr style="border:2px solid coral; width: 30%; margin:20px auto;">
<div class="video-ebsb">
<h2 class="video-ebsb">AAJ KA VAKYA</h2>
</div>

  <video class="aaj-video" width="320" height="240" controls>
  <source src="/static/images/ebday.mp4" type="video/mp4">
  <source src="/static/images/ebday.ogg" type="video/ogg">
Your browser does not support the video tag.
</video>

<div class="nenu1">
  <p>
Aaj Ka Vakya Video
<a href="https://www.youtube.com/channel/UC7J_wxKd8cO_L1X7m09aXpA" target="blank5">For More</a>
</p>
</div>

<div class="matter-video">

As per the directives received from MHRD issued by Under Secretary, EBSB Cell, Department of Higher Education, MHRD. NITI Aayog has prepared a compilation of 100 sentences in 21 different languages. The same is being displayed as one sentence every day with its translations in 21 different Indian languages, on the Ek Bharat Shreshtha Bharat website <a href="https://ekbharat.gov.in/" target="blank12">(ekbharat.gov.in)</a>.
<br>
EBSB club IIT Bhilai is encouraging the faculty/ students and staff/ employees to learn other languages by undergoing Aaj ka Vakya event fortnightly.

</div>






  </div>



{% endblock %}
