{% extends "base.html" %}
{% block content %}
<div class="page-wrapper">

<div class="container">
<div class="page-header">
    <h1 style="text-align: center; margin-top: 170px">MEET THE TEAM</h1>
</div>
<section id="team" class="pb-5">
    <div class="container">
        <h6 class="section-title h1">EBSB COORDINATOR</h6>
        <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside" style="overflow: hidden; border-radius: 20px;">
                            <div class="bike">
                                <div class="bike-body text-center">

                                    <p>
                                        <img class=" img-fluid" alt="EBSB COORDINATOR" src="/static/images/ri.jpeg" /></p>
                                    <h4 class="bike-title">JALLARAPU RISHIK RAM</h4>
                                    <p class="bike-text" style="color: #305893;"> Coordinator                                 
                                    </p>
                                    <a href="#" class="btn btn-primary btn-sm">More</a>

                                </div>
                            </div>
                        </div>
                        <hr style="border:2px solid grey;border-style:none;border-top-style:dotted;border-width:1rem; width: 25%; margin:10px auto 150px;">
                        <div class="backside" style="overflow: hidden; border-radius: 20px;">
                            <div class="bike">
                                <div class="bike-body text-center mt-4">
                                    <h4 class="bike-title">JALLARAPU RISHIK RAM</h4>
                                    <p class="bike-text">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                             <a class="social-icon text-xs-center" target="_blank" href="https://instagram.com/mark_ram369?igshid=11d6r8j86pf10">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/rishik-ram-jallarapu-3976a2177">
                                                <i class="fa fa-linkedin-square"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="mailto:%20jallarapu@iitbhilai.ac.in">
                                                <i class="fa fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <h6 class="section-title h1">EBSB CORE MEMBERS</h6>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside" style="overflow: hidden; border-radius: 20px;">
                            <div class="bike">
                                <div class="bike-body text-center">
                                    <p>
                                        <img class=" img-fluid" alt="EBSB EVENTS COORDINATOR" src="/static/images/oo.jpeg" /></p>
                                    <h4 class="bike-title">ABHISHEK SRIVASTAVA</h4>
                                    <p class="bike-text"  style="color: #305893;">Events Organizer</p>
                                    <a href="#" class="btn btn-primary btn-sm">More</a>
                                </div>
                            </div>
                        </div>
                        <div class="backside" style="overflow: hidden; border-radius: 20px;">
                            <div class="bike">
                                <div class="bike-body text-center mt-4">
                                    <h4 class="bike-title">ABHISHEK SRIVASTAVA</h4>
                                    <p class="bike-text">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/abhishek.shrivastava.14203">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/abhishek-shrivastava-7a4669158">
                                                <i class="fa fa-linkedin-square"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="mailto:%20abhisheksh@iitbhilai.ac.in">
                                                <i class="fa fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside" style="overflow: hidden; border-radius: 20px;">
                            <div class="bike">
                                <div class="bike-body text-center">
                                    <p>
                                        <img class=" img-fluid" alt="EBSB REPRESENTATIVE" src="/static/images/so.jpeg" /></p>
                                    <h4 class="bike-title">KASIREDDY SOWMYA SREE</h4>
                                    <p class="bike-text"  style="color: #305893;"> Digital Arts</p>
                                    <a href="#" class="btn btn-primary btn-sm">More</a>
                                </div>
                            </div>
                        </div>
                        <div class="backside" style="overflow: hidden; border-radius: 20px;">
                            <div class="bike">
                                <div class="bike-body text-center mt-4">
                                    <h4 class="bike-title">KASIREDDY SOWMYA SREE</h4>
                                    <p class="bike-text">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://instagram.com/sowmya_1309?igshid=p8i8la3b434b">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                       
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="mailto:%20kasireddys@iitbhilai.ac.in">
                                                <i class="fa fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside" style="overflow: hidden; border-radius: 20px;">
                            <div class="bike">
                                <div class="bike-body text-center">
                                    <p>
                                        <img class=" img-fluid" alt="EBSB CONTENT AND WEB HANDLING" src="/static/images/sr.jpeg" /></p>
                                    <h4 class="bike-title">SRILEKHA KADAMBALA</h4>
                                    <p class="bike-text"  style="color: #305893;">Content Writing,Webpage Handling</p>
                                    <a href="#" class="btn btn-primary btn-sm">More</a>
                                </div>
                            </div>
                        </div>
                        <div class="backside" style="overflow: hidden; border-radius: 20px;">
                            <div class="bike">
                                <div class="bike-body text-center mt-4">
                                    <h4 class="bike-title">SRILEKHA KADAMBALA</h4>
                                    <p class="bike-text">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/srilekha.kadambala">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/srilekha-kadambala-2bb3b51b7">
                                                <i class="fa fa-linkedin-square"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="mailto:%20srilekhak@iitbhilai.ac.in">
                                                <i class="fa fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside" style="overflow: hidden; border-radius: 20px;">
                            <div class="bike">
                                <div class="bike-body text-center">
                                    <p>
                                        <img class=" img-fluid" alt="EBSB SOCIAL MEDIA HANDLER AND PHOTOGRAPHY" src="/static/images/si.jpg" /></p>
                                    <h4 class="bike-title">PENDEM SIDDARTHA</h4>
                                    <p class="bike-text"  style="color: #305893;">Social Media Handling,Webapge Handling</p>
                                    <a href="#" class="btn btn-primary btn-sm">More</a>
                                </div>
                            </div>
                        </div>

                        <div class="backside" style="overflow: hidden; border-radius: 20px;">
                            <div class="bike">
                                <div class="bike-body text-center mt-4">
                                    <h4 class="bike-title">PENDEM SIDDARTHA</h4>
                                    <p class="bike-text">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/siddartha.pendem.9/">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/siddartha-pendem-830105198/">
                                                <i class="fa fa-linkedin-square"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://twitter.com/me_siddupendem">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/me_siddupendem/">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<p>.</p>
          <hr style="border:2px solid grey;border-style:none;border-top-style:dotted;border-width:1rem; width: 25%; margin:10px auto 150px;">
             <h6 class="section-title h1">WEBSITE DEVELOPERS</h6>


            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside" style="overflow: hidden; border-radius: 20px;">
                            <div class="bike">
                                <div class="bike-body text-center">
                                    <p>
                                        <img class=" img-fluid" alt="Webpage developer" src="/static/images/hn.jpeg" /></p>
                                    <h4 class="bike-title">GANTA HEMANTH SAI KIRAN</h4>
                                    <p class="bike-text"  style="color: #305893;">Web Developer</p>
                                    <a href="#" class="btn btn-primary btn-sm">More</a>
                                </div>
                            </div>
                        </div>
                        <div class="backside" style="overflow: hidden; border-radius: 20px;">
                            <div class="bike">
                                <div class="bike-body text-center mt-4">
                                    <h4 class="bike-title">GANTA HEMANTH SAI KIRAN</h4>
                                    <p class="bike-text">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/hemanth.roman.12/">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/hemanth_mortal/">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                           <a class="social-icon text-xs-center" target="_blank" href="mailto:%20kumarihemanth77@gmail.com">
                                                <i class="fa fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
   <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside" style="overflow: hidden; border-radius: 20px;">
                            <div class="bike">
                                <div class="bike-body text-center">
                                    <p>
                                        <img class=" img-fluid" alt="Webpage developer" src="/static/images/na.jpeg" /></p>
                                    <h4 class="bike-title">PAGIDIMARRI NAGENDAR</h4>
                                    <p class="bike-text"  style="color: #305893;">Web Developer</p>
                                    <a href="#" class="btn btn-primary btn-sm">More</a>
                                </div>
                            </div>
                        </div>
                        <div class="backside" style="overflow: hidden; border-radius: 20px;">
                            <div class="bike">
                                <div class="bike-body text-center mt-4">
                                    <h4 class="bike-title">PAGIDIMARRI NAGENDAR</h4>
                                    <p class="bike-text">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/nagendarnetha.pagidimarri">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/nagendar-pagidimarri-b17982194">
                                                <i class="fa fa-linkedin-square"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="mailto:%20nagender.pm48@gmail.com">
                                                <i class="fa fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>
</div>
<style>

    .btn-primary:hover,
    .btn-primary:focus
    {
        background-color: #108d6f;
        border-color: #108d6f;
        box-shadow: none;
        outline: none;
    }

    .btn-primary
    {
        color: #fff;
        background-color: #305891;
        border-color: #305893;
    }

    section
    {
        padding: 60px 0;
      
    }

        section .section-title
        {
            text-align: center;
            color: #305893;
            margin-bottom: 50px;
            text-transform: uppercase;
        }

    #team .bike
    {
        border: none;
        background:linear-gradient(orange, white, green);
    }

    .image-flip:hover .backside,
    .image-flip.hover .backside
    {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        border-radius: .25rem;
    }

    .image-flip:hover .frontside,
    .image-flip.hover .frontside
    {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .mainflip
    {
        -webkit-transition: 1s;
        -webkit-transform-style: preserve-3d;
        -ms-transition: 1s;
        -moz-transition: 1s;
        -moz-transform: perspective(1000px);
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transition: 1s;
        transform-style: preserve-3d;
        position: relative;
    }

    .frontside
    {
        position: relative;
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        z-index: 2;
        margin-bottom: 30px;
    }

    .backside
    {
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    }

    .frontside,
    .backside
    {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: 1s;
        -webkit-transform-style: preserve-3d;
        -moz-transition: 1s;
        -moz-transform-style: preserve-3d;
        -o-transition: 1s;
        -o-transform-style: preserve-3d;
        -ms-transition: 1s;
        -ms-transform-style: preserve-3d;
        transition: 1s;
        transform-style: preserve-3d;
    }

        .frontside .bike,
        .backside .bike
        {
            min-height: 312px;
        }

            .backside .bike a
            {
                font-size: 18px;
                color: #305893 !important;
            }

            .frontside .bike .bike-title,
            .backside .bike .bike-title
            {
                color: #305893 !important;
            }

            .frontside .bike .bike-body img
            {
                width: 120px;
                height: 120px;
                border-radius: 50%;
            }
</style>
<!-- Team bikes Flipper - END -->

</div>


{% endblock %}
